@import "../../../Scss/Variables.scss";

.card {
  position: relative;
  width: 100%;
  height: auto;
  color: $bgColorDark;
  cursor: pointer;

  &:hover {
    .card__banner {
      opacity: 0;
    }

    .card__text {
      top: 24%;
      opacity: 1;
    }

    .card__button {
      bottom: 24%;
      opacity: 1;
    }
  }
}

.card__banner {
  width: 100%;
  height: auto;
  object-fit: contain;
  opacity: 1;
  transition: opacity 0.5s;
}

.card__text {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  text-align: center;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.card__heading {
  margin-bottom: 4px;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
}

.card__lang {
  font-size: 16px;
  line-height: 19px;
  color: $red;
}

.card__button {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 170px;
  padding: 7px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 24px;
  border: 2px solid #e31b6d;
  background-color: transparent;
  opacity: 0;
  cursor: pointer;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, color 0.25s ease,
    background-color 0.25s ease;

  &:hover {
    color: $white;
    background-color: $red;
  }
}
