/* raleway-300 */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("../Assets/Fonts/Raleway/Raleway-300.woff2") format("woff2"),
    url("../Assets/Fonts/Raleway/Raleway-300.woff") format("woff");
}

/* raleway-400 */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../Assets/Fonts/Raleway/Raleway-400.woff2") format("woff2"),
    url("../Assets/Fonts/Raleway/Raleway-400.woff") format("woff");
}

/* raleway-500 */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../Assets/Fonts/Raleway/Raleway-500.woff2") format("woff2"),
    url("../Assets/Fonts/Raleway/Raleway-500.woff") format("woff");
}

/* raleway-600 */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("../Assets/Fonts/Raleway/Raleway-600.woff2") format("woff2"),
    url("../Assets/Fonts/Raleway/Raleway-600.woff") format("woff");
}

/* raleway-700 */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../Assets/Fonts/Raleway/Raleway-700.woff2") format("woff2"),
    url("../Assets/Fonts/Raleway/Raleway-700.woff") format("woff");
}

/* raleway-900 */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: url("../Assets/Fonts/Raleway/Raleway-900.woff2") format("woff2"),
    url("../Assets/Fonts/Raleway/Raleway-900.woff") format("woff");
}

/* raleway-800 */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../Assets/Fonts/Raleway/Raleway-800.woff2") format("woff2"),
    url("../Assets/Fonts/Raleway/Raleway-800.woff") format("woff");
}
