$red: #e31b6d;
$redLight: #fb1f79;
$blue: #04c2c9;
$blueDark: #00a1a7;
$white: #ffffff;
$black: #000000;
$blackLight: #444444;
$gray: #eeeeee;
$grayLight: #bbbbbb;
$grayDark: #666666;
$textBlack: #444649;
$textBlackLight: #616161;
$bgColor: #252934;
$bgColorLight: #262f38;
$bgColorGray: #f5f5f5;
$bgColorDark: #1b242f;
