$red: #e31b6d;
$blue: #04c2c9;
$blueDark: #00a1a7;
$white: #ffffff;
$gray: #eeeeee;
$grayDark: #666666;
$textBlack: #444649;
$textBlackLight: #616161;
$bgColor: #252934;
$bgColorGray: #f5f5f5;
$bgColorDark: #1b242f;
